:host ::ng-deep .p-datatable table {
    border : 1px solid
}

:host ::ng-deep .tr {
    border : 1px solid;
}

.p-sorticon{
    float: right
}

.lableStyle{
    font-size: 20px;
    font-weight: bold
}

.m-10{
    margin: 10px
}
